body {
    margin: 0;
    width:100%;
    overflow-x: hidden;
}

.header {
    width: 100%;
    height: 7rem;
    background-color: #D8D8D8;
    display: flex;
    align-items: center;
    
}

.square {
    height: 5rem;
    width: 5rem;
    margin-left: 1rem;
    background-color: #4A90E2;
}

.para {
    width: 90%;
    height: 10rem;
    margin: 2rem 3rem 2rem 4rem;
}

.para p {
    font-family: sans-serif; 
    line-height: 1.4;
}

.blue {
    width: 100%;
    height: 7rem;
    background-color: #4A90E2;
}

.teal {
    width: 100%;
    height: 7rem;
    background-color: #50E3C2;
}

.green {
    width: 100%;
    height: 7rem;
    background-color: #B8E986;
}

.yellow {
    width: 100%;
    height: 7rem;
    background-color: #F8E71C;;
}